.wrapper {
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    background: map-get($color, yellow, default);
  }
}

.main {
  flex-grow: 1;

  .-gMenuOpen &,
  .-searchMenuOpen & {
    filter: blur(10px);
  }
}
