.c-title-left {
  margin-bottom: 12px;
  line-height: 1.4;
  position: relative;
  padding: 4px 0 4px 16px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: 2px;
    background: linear-gradient(to top, #fec22e 0%, #ffe371 80%);
  }
}
