.l-container {
  max-width: $pcMaxWidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: $paddingSp;
  padding-right: $paddingSp;

  @include pc {
    padding-left: $paddingPc;
    padding-right: $paddingPc;
  }

  &.-max-900 {
    max-width: 900px;
  }
}
