$color: (
  blue: (
    pale: #f7faff,
    light: #e9eff9,
    medium: #9ebdef,
    default: #5689e2,
  ),
  red: (
    medium: #f26b52,
    default: #f05847,
  ),
  black: (
    default: #4c4943,
  ),
  yellow: (
    default: #fcdb51,
  ),
  gradient: (
    yellow: linear-gradient(to top, #fec22e 0%, #ffe371 80%),
  ),
);
$text-color: map-get($color, black, default);
